---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div>
    <p>
        My weekly newsletter with some of world's most popular stories: <a href="https://app.mailbrew.com/simplyandyg/world-news-weekly-iikYl1HTeSqa">World News Weekly</a>
    </p>
</div>


{{ content | safe }}
