---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div>
    <p>
    Hi, I’m Andy. The goal of this site is to create a collection of introductions to important topics and life lessons
    for my kids and anyone else who may be interested. There’s so much that I want them to know and understand about
    the world that school does not often cover. Many of the articles cover complex topics that I do not claim to be an
    expert in. I expect I’ll make some mistakes in the articles, which I plan to revise as I continue to learn.
    <br>
    <br>
    I also put together a weekly newsletter with the most popular Twitter and Reddit stories from around the world. Check it out: <a href="https://app.mailbrew.com/simplyandyg/world-news-weekly-iikYl1HTeSqa">World News Weekly</a>
    </p>
</div>


{{ content | safe }}
